/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #356636;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .form-group button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .transactions-table th,
  .transactions-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .transactions-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .transactions-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .balance {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .action-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-buttons button.edit-button {
    background-color: #2196f3;
    color: #fff;
  }
  
  .action-buttons button.delete-button {
    background-color: #f44336;
    color: #fff;
  }
  
  .action-buttons button.edit-button:hover {
    background-color: #1976d2;
  }
  
  .action-buttons button.delete-button:hover {
    background-color: #d32f2f;
  }
  